@model UpdateRoomVm
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Update Room</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" required class="form-control">
                                <span asp-validation-for="Name" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Capacity">Capacity</label>
                                <input asp-for="Capacity" required class="form-control">
                                <span asp-validation-for="Capacity" class="text-danger"> </span>
                            </div>
                        </div>      
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>