@using System.Security.Claims;
@model ResetPasswordVm
<div id="password_tab" class="tab-pane fade">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Change Password</h5>
            <div class="row">
                <div class="col-md-10 col-lg-6">
                    <form id="ResetPasswordForm" method="post" asp-action="ResetProfilePassword" asp-controller="Account">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="OldPassword">Old Password</label>
                            <input asp-for="OldPassword" id="OldPassword" class="form-control">
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword">New Password</label>
                            <input asp-for="NewPassword" id="NewPassword" class="form-control">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" id="ConfirmPassword" class="form-control">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div>
                            <span class="text-danger" id="errorSpan"><br /></span>
                        </div>
                        <button class="btn btn-primary" type="submit" id="SaveChanges">Save Changes</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //===============  Reset Password ===============//
    const btn = document.getElementById("SaveChanges");
    btn.addEventListener("click", function (b) {
        b.preventDefault();
        var form = document.getElementById("ResetPasswordForm");
        const newPassword = document.getElementById("NewPassword").value;
        const confirmPassword = document.getElementById("ConfirmPassword").value;
        const data = new FormData();
        data.append("OldPassword", document.getElementById("OldPassword").value);
        data.append("NewPassword", newPassword);
        data.append("ConfirmPassword", confirmPassword);
        console.log(data);
        const url = `https://localhost:7064/account/ResetProfilePassword`;
        fetch(url, {
            method: "POST",
            body: data
        })
            .then((res) => res.json())
            .then(function (data) {

                if (data.statusCode == 200) {
                    form.reset();
                    alert(data.message);
                }
                else {
                    var span = document.getElementById("errorSpan");
                    span.innerHTML = data.message.replace(/\n/g, '<br />');
                }
            });
    });
</script>