@using LearningManagementSystem.Application.ViewModels;
@using LearningManagementSystem.Domain.Enums;
@model UpdateStudentVm


<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Profil</h3>
                <ul class="breadcrumb">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Basic Details</span></h5>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Name">Name </label>
                                    <input asp-for="Name" class="form-control" placeholder="Enter Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Surname">Surname</label>
                                    <input asp-for="Surname" class="form-control" placeholder="Enter Surname">
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Gender">Gender</label>
                                    <select asp-for="Gender" class="form-control select">
                                        <option disabled selected>Choose Gender</option>
                                        @foreach (var item in Enum.GetValues(typeof(Gender)))
                                        {
                                            <option value="@item">@item</option>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Birthday">Date Of Birth </label>
                                    <input asp-for="Birthday" type="date" max="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control">
                                    <span asp-validation-for="Birthday" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="PhoneNumber">Phone Number</label>
                                    <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>        
                            <div class="col-12 col-sm-4">
                              
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group students-up-files">
                                    <div class="image-container">
                                        <img src="~/assets/img/@Model.Image" alt="image" class="img-fluid rounded-circle" width="150" height="150">
                                        <input asp-for="Image" type="hidden" value="@Model.Image" />
                                    </div>
                                    <label>Upload User Photo (150px X 150px)</label>
                                    <div class="uplod">
                                        <label asp-for="Photo" class="file-upload image-upbtn mb-0">
                                            Choose Photo<input asp-for="Photo" class="d-none" onchange="previewPhoto(this)">
                                        </label>
                                        <span asp-validation-for="Photo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>                           
                            <div class="col-12 d-flex justify-content-between">
                                <div>
                                    <a asp-action="profile" asp-controller="student" class="btn btn-warning">
                                        <i class="fas fa-caret-left"></i> Back
                                    </a>
                                </div>
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewPhoto(input) {
        var reader = new FileReader();
        reader.onload = function (e) {
            var imageContainer = input.closest('.form-group').querySelector('.image-container');
            var img = imageContainer.querySelector('img');
            img.src = e.target.result;
            imageContainer.style.display = 'block';
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>
